# Q1

In [6]:
import numpy as np
import pandas as pd
import pandas_market_calendars as mcal

SPX = pd.read_excel('SPX.xlsx', skiprows=5)
SPX['Dates'] = pd.to_datetime(SPX['Dates'])

Dates               0
PX_OPEN           316
PX_LAST           316
PX_HIGH           316
PX_LOW            316
VOLATILITY_30D     15
VOLATILITY_90D     47
dtype: int64

In [13]:
na_mask = SPX.isna().iloc[:,1:4].any(axis=1)
SPX[na_mask]

,Dates,PX_OPEN,PX_LAST,PX_HIGH,PX_LOW,VOLATILITY_30D,VOLATILITY_90D
30,1928-02-13,NaN,NaN,NaN,NaN,11.51,NaN
37,1928-02-22,NaN,NaN,NaN,NaN,12.36,NaN
69,1928-04-06,NaN,NaN,NaN,NaN,12.90,12.70
107,1928-05-30,NaN,NaN,NaN,NaN,16.09,14.11
132,1928-07-04,NaN,NaN,NaN,NaN,22.40,17.57
...,...,...,...,...,...,...,...
11564,1972-12-28,NaN,NaN,NaN,NaN,7.34,8.51
11583,1973-01-25,NaN,NaN,NaN,NaN,9.42,8.82
12537,1976-11-02,NaN,NaN,NaN,NaN,11.80,10.11
12713,1977-07-14,NaN,NaN,NaN,NaN,7.62,9.27
13551,1980-11-04,NaN,NaN,NaN,NaN,18.58,15.35

In [29]:
SPX_no_NA = SPX[na_mask == False]
low_high_mask = SPX_no_NA['PX_LOW'] >= SPX_no_NA['PX_HIGH']
SPX_no_NA[low_high_mask]
SPX_2 = SPX_no_NA[low_high_mask == False].reset_index(drop = True)

In [44]:
prev = SPX_2.iloc[:,1:5].shift(1)
no_change_mask = (prev == SPX_2.iloc[:,1:5]).all(axis = 1)
SPX_2[no_change_mask]

Empty DataFrame
Columns: [Dates, PX_OPEN, PX_LAST, PX_HIGH, PX_LOW, VOLATILITY_30D, VOLATILITY_90D]
Index: []

In [45]:
SPX_final = SPX_2
SPX_final[SPX_final['PX_OPEN'] == SPX_final['PX_HIGH']]

,Dates,PX_OPEN,PX_LAST,PX_HIGH,PX_LOW,VOLATILITY_30D,VOLATILITY_90D
33,1982-06-08,110.33,109.63,110.33,109.60,10.12,13.34
41,1982-06-18,107.60,107.28,107.60,107.07,10.78,12.60
68,1982-07-28,109.42,107.73,109.42,107.53,12.34,11.85
73,1982-08-04,107.83,106.14,107.83,106.11,12.80,12.43
74,1982-08-05,106.10,105.16,106.10,104.76,13.02,12.51
...,...,...,...,...,...,...,...
9892,2021-07-15,4369.02,4360.03,4369.02,4340.70,9.00,11.16
9894,2021-07-19,4296.40,4258.49,4296.40,4233.13,10.37,11.50
9900,2021-07-27,4416.38,4401.46,4416.38,4372.51,11.83,11.58
9915,2021-08-17,4462.12,4448.08,4462.12,4417.83,10.63,10.87
9929,2021-09-07,4535.38,4520.03,4535.38,4513.00,7.73,10.57

In [46]:
SPX_final[SPX_final['PX_OPEN'] == SPX_final['PX_LOW']]

,Dates,PX_OPEN,PX_LAST,PX_HIGH,PX_LOW,VOLATILITY_30D,VOLATILITY_90D
1,1982-04-22,115.72,117.19,117.25,115.72,11.74,14.95
57,1982-07-13,109.19,109.45,110.07,109.19,13.22,12.63
60,1982-07-16,110.16,111.07,111.48,110.16,12.70,12.09
85,1982-08-20,109.19,113.02,113.03,109.19,21.91,16.02
89,1982-08-26,117.57,118.55,120.26,117.57,23.91,16.98
...,...,...,...,...,...,...,...
9907,2021-08-05,4408.86,4429.10,4429.76,4408.86,10.64,11.25
9908,2021-08-06,4429.07,4436.52,4440.82,4429.07,10.63,11.24
9919,2021-08-23,4450.29,4479.53,4489.88,4450.29,10.74,11.01
9923,2021-08-27,4474.10,4509.37,4513.33,4474.10,9.36,10.80
9924,2021-08-30,4513.76,4528.79,4537.36,4513.76,8.47,10.68

In [51]:
SPX_final['intra_range'] = (SPX_final['PX_HIGH'] - SPX_final['PX_LOW']) / SPX_final['PX_LOW']
SPX_intra_range_sorted = SPX_final.sort_values('intra_range',ascending=False)
SPX_intra_top = SPX_intra_range_sorted.head(20)
SPX_intra_top

,Dates,PX_OPEN,PX_LAST,PX_HIGH,PX_LOW,VOLATILITY_30D,VOLATILITY_90D,intra_range
1391,1987-10-19,282.70,224.84,282.70,224.83,72.37,43.12,0.257394
1392,1987-10-20,225.06,236.83,245.62,216.46,74.75,44.12,0.134713
6705,2008-11-13,853.13,911.29,913.01,818.69,80.72,55.24,0.115208
6681,2008-10-10,902.31,899.22,936.36,839.80,55.92,37.13,0.114980
6693,2008-10-28,848.92,940.51,940.51,845.27,81.54,51.11,0.112674
6680,2008-10-09,988.42,909.92,1005.25,909.19,55.92,37.34,0.105654
6682,2008-10-13,912.75,1003.35,1006.93,912.75,66.76,41.70,0.103183
6684,2008-10-15,994.60,907.84,994.60,903.99,71.33,44.52,0.100233
6710,2008-11-20,805.87,752.44,820.52,747.78,80.69,57.46,0.097275
7075,2010-05-06,1164.38,1128.15,1167.58,1065.79,18.52,16.14,0.095507
1393,1987-10-21,236.83,258.38,259.26,236.83,80.01,46.70,0.094709
6685,2008-10-16,909.53,946.43,947.71,865.83,72.91,45.15,0.094568
6672,2008-09-29,1209.07,1106.39,1209.07,1106.39,45.38,31.13,0.092806
1396,1987-10-26,248.20,227.67,248.22,227.26,83.51,49.27,0.092229
6716,2008-12-01,888.61,816.21,888.61,815.69,76.38,61.90,0.089397
6677,2008-10-06,1097.56,1056.89,1097.56,1007.97,50.38,33.72,0.088882
5115,2002-07-24,797.71,843.42,844.32,775.68,34.76,25.20,0.088490
9555,2020-03-13,2569.99,2711.02,2711.33,2492.37,60.08,35.04,0.087852
6689,2008-10-22,951.67,896.78,951.67,875.81,75.46,47.18,0.086617
6711,2008-11-21,755.84,800.03,801.20,741.02,75.38,58.59,0.081212